@media screen and (max-width: 1024px) {
  .about-container{
    padding-right:300px
  }

  .img-profile-container {
    position: absolute;
    top: 24px;
    right: 120px;
  }

  .appear{
    width:150px;
    height:150px
  }
}

@media screen and (max-width: 600px) {
  .about-container{
    left:0;
  }
  .about-container .about-description p{
    font-size:20px;
    padding-left:15px
  }
  .social-container{
    display: none;
  }
  .email-container{
    display: none;
  }

  .social-footer{
    display: flex;
    margin: 0;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
  }
  .social-footer a{
    padding-right:10px;
    color: var(--white);
  }

  .footer{
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    height:auto
  }

  .img-profile-container{
    display: none
  }
}


