@media screen and (max-width: 1024px) {
  .about-container{
    padding-right:300px
  }

  .img-profile-container {
    position: absolute;
    top: 40px;
    right: 120px;
  }

  .appear{
    width:150px;
    height:150px
  }
}

@media screen and (width: 768px) {
  .img-profile-container {
    display:none
  }
  .about-container{
    padding-right:220px
  }
}

@media screen and (max-width: 600px) {
  .about-container{
    left:0;
  }
  .about-container .about-description p{
    font-size:22px;
    padding-left:15px;
    margin-top:0
  }
  .social-container{
    display: none;
  }
  .email-container{
    display: none;
  }

  .social-footer{
    display: flex;
    margin: 0;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
  }
  .social-footer a{
    padding-right:14px;
    color: var(--white);
    font-size:26px
  }

  .footer{
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    height:auto
  }

  .img-profile-container{
    display: none
  }

  .about-container{
    padding-right: 15px;
  }

  .social-footer a.facebook-footer{
    font-size:30px
  }

  .social-footer a.instagram-footer{
    font-size:30px
  }
}

@media screen and (max-width: 360px){
  .about-container .about-description p{
    font-size: 16px;
  }

  .about-container{
    top:37.5%
  }
}


