@media screen and (max-width: 1550px) {

  .container.hero-container {
    height: 550px;
    padding: 65px 0;
  }
  .hero-container h2{
    font-size: 130px
  }

  #particles-js {
      position: absolute;
      width: 100%;
      height: 725px;
  }

  .hero-svg-animation {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 615px;
      z-index: 0;
  }


}

@media screen and (max-width: 1220px) {
  .works-container {
    margin-top: 220px;
}
}


@media screen and (max-width: 1199px) {

  .img-profile-container{
    display: none
  }
  .works-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .works-link:hover{
    color:rgb(10, 25, 47)!important
  }

  .download-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .download-link:hover{
    color:rgb(10, 25, 47)!important
  }

  .contact-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .contact-link:hover{
    color:rgb(10, 25, 47)!important
  }

  .videogames-img-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .videogames-img-link:hover{
    color:rgb(10, 25, 47)!important
  }

  .serietv-img-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .serietv-img-link:hover{
    color:rgb(10, 25, 47)!important
  }

  .bike-img-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .bike-img-link:hover{
    color:rgb(10, 25, 47)!important
  }

  .developer-img-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .developer-img-link:hover{
    color:rgb(10, 25, 47)!important
  }

  .me-img-link{
    background-image: none;
    color:rgb(10, 25, 47)
  }

  .me-img-link:hover{
    color:rgb(10, 25, 47)!important
  }


  .works-container {
    margin-top: 10px;
}


}


@media screen and (max-width: 1024px) {
.footer-text {
    text-align: center
  }

  .scroll-btn{
    display: none;
  }

  .container.hero-container {
    padding: 121px 0;
}

.about-container{
  padding-right: 190px!important;
  margin-top: 220px
}

.portfolio-container{
  padding-right: 0!important
}

.about-container .about-description p{
  font-size: 25px
}

.img-profile-container{
  display: none
}
.works-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.works-link:hover{
  color:rgb(10, 25, 47)!important
}

.download-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.download-link:hover{
  color:rgb(10, 25, 47)!important
}

.contact-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.contact-link:hover{
  color:rgb(10, 25, 47)!important
}

.videogames-img-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.videogames-img-link:hover{
  color:rgb(10, 25, 47)!important
}

.serietv-img-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.serietv-img-link:hover{
  color:rgb(10, 25, 47)!important
}

.bike-img-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.bike-img-link:hover{
  color:rgb(10, 25, 47)!important
}

.developer-img-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.developer-img-link:hover{
  color:rgb(10, 25, 47)!important
}

.me-img-link{
  background-image: none;
  color:rgb(10, 25, 47)
}

.me-img-link:hover{
  color:rgb(10, 25, 47)!important
}
}

@media screen and (max-width: 1024px) {

  #scrolltop-button {
    right:20px;
    padding: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px
  }

  .portfolio-container{
    margin-top: 0
  }

  .hero-container{
    margin-top: 45px
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 730px;
}

.hero-svg-animation {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    margin-top: 655px;
    display: none
}

.c-scrolldown {
    width: 1px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.c-scrolldown .c-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -200px;
  background-size: 100% 200%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@keyframes scrolldown {
  0% {
    background-position: 0 -200px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 200px;
  }
}
}

@media screen and (max-width: 1024px) {
  .social-container {
    display: none;
  }

  .email-container {
    display: none
  }

  .content {
    padding: 0;
    padding-left: 60px;
    padding-right: 60px
  }

  .container {
    padding-right: 60px;
    padding-left: 0px
  }



  .img-profile-container {
    justify-content: center;
  }

  .about-container .img-profile {
    float: right;
    text-align: center;
    justify-content: center;
  }


  .footer {
    height: 120px;
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .social-footer {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px
  }

  .facebook-footer {
    margin-right: 10px;
    color: #fff;
  }

  .facebook-footer:hover {
    color: rgb(0, 212, 161)
  }

  .linkedin-footer {
    margin-right: 10px;
    color: #fff;
  }

  .linkedin-footer:hover {
    color: rgb(0, 212, 161)
  }

  .instagram-footer {
    margin-right: 10px;
    color: #fff;
  }

  .instagram-footer:hover {
    color: rgb(0, 212, 161)
  }


  .github-footer {
    margin-right: 10px;
    color: #fff;
  }

  .github-footer:hover {
    color: rgb(0, 212, 161)
  }

  .email-footer {
    color: #fff;
  }

  .email-footer:hover {
    color: rgb(0, 212, 161)
  }
}





@media screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link{
    margin-right: 200px
  }
}

@media screen and (max-device-width: 768px) and (min-device-width: 767px) {

  .hero-container h2 {
    font-size: 100px
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 710px;
}

.hero-svg-animation {
    top: 0;
    margin-top: 605px;
}

.about-container {
    margin-top: 100px;
    padding-right: 0!important
}

.portfolio-container{
  margin-top: 0
}

}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .hero-container h2 {
    font-size: 100px
  }
  .about-container{
    margin-top: 180px
  }

  .works-container {
    margin-top: 180px;
}
}



@media screen and (max-width: 768px) and (min-width: 600px) {
  .hero-container h2 {
    font-size: 100px
  }

  .about-container{
    margin-top: 160px;
    padding-right: 0!important
  }

  .works-container {
    margin-top: 180px;
}
}


@media screen and (max-width: 650px) {
  .hero-container h2 {
    font-size: 80px
  }

  .works-container {
    margin-top: 150px;
}

}

@media screen and (max-width: 600px) {

  #particles-js{
    height:690px
  }

  .logo{
    width:80px;
    height:50px
  }
  .social-container {
    display: none;
  }

  .email-container {
    display: none
  }

  .content {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px
  }

  .container {
    padding-right: 30px;
    padding-left: 30px
  }


  .about-container .img-profile {
    float: none;
    text-align: center;
    justify-content: center;
  }


  .hero-container p{
    font-size: 13px
  }
  .about-container .about-description p{
    font-size: 13px;
    margin-top: -125px
  }
  li.skill{
      font-size: 13px
  }
  .hero-container{
    padding-left: 50px!important
  }

  .works-container {
    margin-top: -300px;
}

}

@media screen and (max-width: 598px) {
  .hero-container{
    padding-left: 20px!important;
  }

  .hero-container h2{
    font-size: 75px
  }
}

@media screen and (max-width: 550px) {
  .content {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-container {
    margin-top: 20px;
    padding-left: 0
  }

  .about-container {
    margin-top: -10px;
  }

  .about-container .img-profile {
    width: 103%
  }



  .footer-text {
    font-size: 12px
  }

  h1.titolo-section {
    color: #fff;
    font-size: 30px;
  }

  .hero-container p{
    font-size: 13px
  }

  .about-container .about-description p{
    font-size: 13px
  }
  li.skill{
      font-size: 13px
  }

  .about-container {
      margin-top: 180px;
  }

  #particles-js {
    height: 633px;
}
}

@media screen and (max-width: 500px) {
  .hero-container h2 {
    font-size: 60px
  }

  .works-container {
    margin-top: 150px;
}


}

@media screen and (max-width: 450px) {
  .content {
    padding: 0;
    padding-left: 0px;
    padding-right: 0px
  }

  .container {
    padding-left: 30px;
    padding-right: 30px
  }

  .hero-container {
    margin-top: -70px;
    padding-left: 40px!important
  }

  .hero-container h2 {
    font-size: 50px
  }


  .about-container .img-profile {
    width: 103%
  }

  .footer-text {
    font-size: 12px
  }
  #particles-js {
    height: 518px;
}

.c-scrolldown {
    bottom: -42px;
}

.about-container {
    margin-top: 145px;
    padding-right: 0!important
}
.works-container {
    margin-top: -500px;
}

}


@media screen and (max-width: 420px) {
  .portfolio-container {
      margin-top: 200px;
  }
  .hero-container {
    padding-left: 40px!important
  }
}

@media screen and (max-width: 400px) {
  .content {
    padding: 0;
    padding-left: 0px;
    padding-right: 0px
  }

  .container {
    padding-left: 30px;
    padding-right: 30px
  }

  .hero-container p {
    font-size: 12px
  }

  .about-container .about-description p {
    font-size: 15px
  }

  li.skill {
    font-size: 12px
  }

  .hero-container {
    margin-top: -60px
  }

  .hero-container h1 {
    font-size: 15px
  }

  .hero-container h2 {
    font-size: 50px
  }

  .about-container {
    margin-top: 145px;
}

  .about-container .img-profile {
    width: 103%
  }

  .work-img-container {
    padding-right: 0;
  }

  .footer-text {
    font-size: 12px
  }

  .works-container {
    margin-top: -430px;
}
}

@media screen and (max-width: 350px) {
  /* .content {
    padding: 0;
    padding-left: 0px;
    padding-right: 0px
  }

  .navbar {
    padding-left: 30px;
    padding-right: 10px;
}

  .container {
    padding-left: 30px;
    padding-right: 30px
  }

  .hero-container p {
    font-size: 12px
  }

  .about-container .about-description p {
    font-size: 12px
  }

  li.skill {
    font-size: 12px
  }

  .hero-container {
    margin-top: -30px
  }

  .hero-container h2 {
    font-size: 45px
  }

  h1.titolo-section {
    color: #fff;
    font-size: 30px;
  }

  .about-container {
    margin-top: 170px; */
  /* } */

  /* .work-img-container {
    padding-right: 0;
  }


  .about-container .img-profile {
    width: 115%
  }


  .footer {
    width: 106%
  }

  .footer-text {
    font-size: 12px
  } */



  #particles-js{
    height: 100%
  }

  .about-container{
    display: none
  }
  .works-container{
    display: none;
  }

  .line-icon-container{
    display: none;
  }

  .portfolio-container{
    display: none
  }

  .device-non-supportato{
    display: block;
    text-align: center;
    margin-left: -10px
  }

  .hero-container h2{
    display: none
  }

  .hero-container h1{
     display: none;
}

.navbar-toggler-icon{
  display: none
}

.navbar {
    padding-left: 133px;
    text-align: center;
}
.footer{
  display: none
}
}
