:root{
  --dark-blue: rgb(10, 25, 47);
  --white: #fff;
  --black: #000;
  --verdeacqua: rgb(0, 212, 161);
  --lightblue-grey: rgb(86, 97, 113);
  --scrolltopbutton-background : #7f8c8d;
  --font-family-general: 'Raleway', sans-serif;
  --orange: rgb(232, 151, 86);
  --green-mountainbike-link: rgb(87, 182, 126);
  --purple-develop-link: rgb(176, 107, 215);
  --red-tv-link: rgb(210, 99, 89);
  --blue-videogames-link: rgb(63, 144, 181);
  --blue: rgb(16, 43, 82);
}

body {
  -webkit-font-smoothing: antialiased;
  background-color:  var(--white);
  color: var(--dark-blue);
}

/* ------------------------------------ scrollbar -------------------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color:var(--blue);
}

/*--------------------------------------- General ------------------------------------------*/

.row {
  width: 100%
}

.nopad {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.content {
  width: 100%;
  counter-reset: section 0;
  margin: 0px auto;
  padding: 0px 150px;
}

.verdeacqua {
  color: var(--verdeacqua)
}

.container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  padding: 150px 0px;
}

/*-------------- Social container ------------------------*/

.social-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 18px;
  color: var(--lightblue-grey);
  display: flex;
  justify-content: center;
  z-index: 999999
}

.social-container li{
  font-size: 1.4rem;
  text-align: center;
  list-style-type: none;
  margin-bottom: 25px
}

.social-container li a{
  color: var(--lightblue-grey);
  transition: 0.5s;
}

.social-container li a:hover{
  color: var(--verdeacqua);
  transition: 0.5s
}

.social-container li.github-icon-container{
  margin-bottom: -15px;
}

li .vl {
  background-color: var(--lightblue-grey);
  height: 90px;
  width: 1px;
  position: relative;
  bottom: 0;
  margin-bottom: -20px;
  margin-top: 40px;
  margin-left: 8px;
  z-index: 999999
}

.email-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: -16px;
  color: var(--white);
  display: flex;
  justify-content: center;
  z-index: 99999
}

.email-container li.email-label {
  list-style-type: none;
  margin-top: -35px;
  transform: rotate(90deg);
  transform-origin: left top 0;
  margin-left: 28px;
}

.email-container a span {
  color: var(--lightblue-grey);
  font-size: 14px;
  font-family: var(--font-family-general);
  transition: 0.5s;
  letter-spacing: 0.03em;
}

.email-container a span:hover {
  color: var(--verdeacqua);
  text-decoration: none;
  transition: 0.5s
}

.email-container a:hover {
  color: var(--verdeacqua);
  text-decoration: none;
}

li .vl-right {
    background-color: var(--lightblue-grey);
    height: 90px;
    width: 1px;
    position: relative;
    bottom: 0;
    margin-bottom: -20px;
    margin-top: 161px;
    margin-left: 15px;
    z-index: 999999999
}

.about-container {
  padding: 0;
  justify-content: flex-start;
  margin: 0;
  position: absolute;
  top: 41.2%;
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}

.about-container .about-description p {
  font-family: var(--font-family-general);
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 30px;
  margin-top: 25px;
}

.about-container .about-description p a{
  color: var(--dark-blue);
}

.about-container .about-description p a:hover{
  text-decoration: none;
}

/* ------------------------ about-container --------------------------  */
.img-profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-profile {
    width: 0px;
    height: 0px;
    background-image: url('../img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
    /* border-radius: 50%; */
    opacity: 0;
    transition: 0.4s;
    display: block;
    position: absolute;
    right:0;
    visibility: hidden;
}

.img-bike {
  width: 0px;
  height: 0px;
  background-image: url('../img/mtb.gif');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
  position: absolute;
  right:0;
  background-position: center;
  opacity: 0;
  transition:0.4s;
  display: block;
  visibility: hidden
}

.img-videogames {
  width: 0px;
  height: 0px;
  background-image: url('../img/videogames.gif');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
  background-position: center;
  position: absolute;
  right:0;
  opacity: 0;
  transition:0.4s;
  display: block;
  visibility: hidden
}

.img-developer {
  width: 0px;
  height: 0px;
  background-image: url('../img/developer.gif');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
  position: absolute;
  right:0;
  background-position: center;
  opacity: 0;
  transition:0.4s;
  display: block;
  visibility: hidden
}

.img-serietv {
  width: 0px;
  height: 0px;
  background-image: url('../img/serietv.gif');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
  position: absolute;
  right:0;
  background-position: center;
  opacity: 0;
  transition:0.4s;
  display: block;
  visibility: hidden
}

.me-img-link{
  background-image: linear-gradient(to left, transparent, transparent 50%, var(--orange) 50%, var(--orange));
  background-position: 100% 0;
  background-size: 200% 110%;
  transition: all .5s ease-in;
  border-bottom: 3px solid var(--orange);
  font-weight: 600
}

.me-img-link:hover{
  background-position: 0 0;
  color:var(--white)!important;
}

.bike-img-link{
  background-image: linear-gradient(to left, transparent, transparent 50%, var(--green-mountainbike-link) 50%, var(--green-mountainbike-link));
  background-position: 100% 0;
  background-size: 200% 110%;
  transition: all .5s ease-in;
  border-bottom: 3px solid var(--green-mountainbike-link);
  font-weight: 600
}

.bike-img-link:hover{
  background-position: 0 0;
  color:var(--white)!important;
  cursor: url('../img/bike.png'), auto;
}

.developer-img-link{
  background-image: linear-gradient(to left, transparent, transparent 50%, var(--purple-develop-link) 50%, var(--purple-develop-link));
  background-position: 100% 0;
  background-size: 200% 110%;
  transition: all .5s ease-in;
  border-bottom: 3px solid var(--purple-develop-link);
  font-weight: 600
}

.developer-img-link:hover{
  background-position: 0 0;
  color:var(--white)!important;
  cursor: url('../img/code.png'), auto;
}

.videogames-img-link{
  background-image: linear-gradient(to left, transparent, transparent 50%, var(--blue-videogames-link) 50%, var(--blue-videogames-link));
  background-position: 100% 0;
  background-size: 204% 110%;
  transition: all .5s ease-in;
  border-bottom: 3px solid var(--blue-videogames-link);
  font-weight: 600;
}

.videogames-img-link:hover{
  background-position: 0 0;
  color:var(--white)!important;
  cursor: url('../img/game.png'), auto;
}

.serietv-img-link{
  background-image: linear-gradient(to left, transparent, transparent 50%, var(--red-tv-link) 50%, var(--red-tv-link));
  background-position: 100% 0;
  background-size: 200% 110%;
  transition: all .5s ease-in;
  border-bottom:3px solid var(--red-tv-link);
  font-weight: 600
}

.serietv-img-link:hover{
  background-position: 0 0;
  color:var(--white)!important;
  cursor: url('../img/tv.png'), auto;
}

.appear{
  opacity: 1;
  transition: 1s;
  display: block;
  width: 300px;
  height: 300px;
  visibility: visible;
}

.disappear{
  opacity: 0;
  transition: 1s;
  width: 0;
  height: 0
}

.contact-link{
  background-image: linear-gradient(to left, transparent, transparent 50%, var(--verdeacqua) 50%, var(--verdeacqua));
  background-position: 100% 0;
  background-size: 202% 110%;
  transition: all .5s ease-in;
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  color: var(--dark-blue);
}

.contact-link:hover{
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  background-position: 0 0;
  color:var(--white)!important;
  cursor: url('../img/send.png'), auto;
}

.contact-link:active{
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
}

.contact-link:focus{
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s
}

.download-link{
  background-image: linear-gradient(to left, transparent, transparent 50%, var(--verdeacqua) 50%, var(--verdeacqua));
  background-position: 100% 0;
  background-size: 202% 110%;
  transition: all .5s ease-in;
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  color: var(--dark-blue)
}

.download-link:hover{
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  background-position: 0 0;
  color:var(--white)!important;
  cursor: url('../img/download.png'), auto;
}

.download-link:active{
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
}

.download-link:focus{
  border-bottom:3px solid var(--verdeacqua);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s
}

.footer {
  background-color: var(--dark-blue);
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom:0
}

.footer-text {
  color: var(--white);
  margin-bottom: 0;
  font-size: 14px;
  font-family: var(--font-family-general);
}

.social-footer {
  display: none
}

.footer .cuore {
  color: var(--verdeacqua);
  animation: pound .4s infinite alternate;
  -webkit-animation: pound .4s infinite alternate
}

@-webkit-keyframes pound{
  to {
    transform: scale(1.2)
  }
}

@keyframes pound{
  to {
    transform: scale(1.2)
  }
}


.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--white);
  color: var(--black);
  padding: 8px;
  z-index: 100;
  font-size:0
}

.skip-link:focus {
  top: 0;
  outline: none;
}




